@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Ubuntu:wght@700&display=swap');

body {
    font-family: 'Segoe UI', 'Frutiger', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
    /*font-family: 'Quicksand', sans-serif;*/
    color: rgb(44, 23, 9);
    text-align: center justify;
}

/* Style the header */
header {
    background-color:#e17055;
    padding: 30px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 35px;
    color:rgb(46, 46, 46)
    }
footer {
    background-color:#cecece;
    padding: 20px;
    text-align: center;
    font-family: 'Segoe UI', 'Frutiger', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: auto;
    font-weight:auto;
    color:#2d3436;
}

.rcorners1 {
    border-radius: 25px;
    /*border: 2px solid #73AD21;*/
    padding: auto; 
    margin: auto;
    width: 75%;
    height: auto;
    box-shadow: 5px 5px 2px #2d34361e;
}

.rcorners2 {
    border-radius: 25px;
    /*border: 2px solid #73AD21;*/
    padding: auto; 
    margin: auto;
    width: 50%;
    height: auto;
    box-shadow: 5px 5px 2px #2d34361e;
}

/*style image*/

img {  
    border-radius: 50%;
}
.bigimg {
    max-width:100%;height:auto;

}

div {
    padding:20px;
    padding-left: 50px;
    box-shadow: 5px 5px 5px #2d34361e;
    margin: 15px;
}
h1 {
    color:rgb(46, 46, 46);
    font-size: 50px;
}

/* profile, exp */
h2 {
    font-family: 'Ubuntu', sans-serif;
    color: rgb(0, 139, 109);
}

/* freelance */
h3 {
    font-family: 'Segoe UI', 'Frutiger', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: large;
    font-weight: lighter;
    color: rgb(46, 46, 46);
}