@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Ubuntu:wght@700&display=swap');

body {
    font-family: 'Segoe UI', 'Frutiger', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
    /*font-family: 'Quicksand', sans-serif;*/
    color: rgb(41, 37, 34);
    text-align: center justify;
}

/* style header and footer*/
header {
    background-color:#e4c4df;
    padding: 30px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 35px;
    color:rgb(46, 46, 46)
    }
footer {
    background-color:#e4c4df;
    padding: 20px;
    text-align: center;
    font-family: 'Segoe UI', 'Frutiger', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: auto;
    font-weight:auto;
    color:#2d3436;
}

.rcorners1 {
    border-radius: 25px;
    /*border: 2px solid #73AD21;*/
    padding: auto; 
    margin: auto;
    width: 75%;
    height: auto;
    box-shadow: 5px 5px 2px #2d34361e;
}

.rcorners2 {
    border-radius: 25px;
    /*border: 2px solid #73AD21;*/
    padding: auto; 
    margin: auto;
    width: 50%;
    height: auto;
    box-shadow: 5px 5px 2px #2d34361e;
}

/*style image*/

img {  
    border-radius: 50%;
}
.center {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

/*style paragraph*/
div {
    text-align: justify;
    text-justify: inter-word;
    padding:50px;
    padding-bottom:30px;
    /*box-shadow: 5px 5px 5px #2d34361e;*/
    margin: 15px;
}

h1 {
    color:rgb(58, 58, 58);
    font-size: 50px;
}

/* about me, exp */
h2 {
    font-family: 'Ubuntu', sans-serif;
    color: orange;
}

/* mini desc */
h3 {
    font-family: 'Segoe UI', 'Frutiger', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: large;
    font-weight: lighter;
    color: rgb(46, 46, 46);
}

/*style link*/
a:link {
    color:indigo;
}
a:visited {
    color: red;
}
a:active {
    color:dodgerblue;
}